/DetectionModule.cs
/DetectionModule.cs.meta
/EnemyController.cs
/EnemyController.cs.meta
/EnemyManager.cs
/EnemyManager.cs.meta
/EnemyMobile.cs
/EnemyMobile.cs.meta
/EnemyTurret.cs
/EnemyTurret.cs.meta
/FollowPlayer.cs
/FollowPlayer.cs.meta
/fps.AI.asmdef
/fps.AI.asmdef.meta
/NavigationModule.cs
/NavigationModule.cs.meta
/PatrolPath.cs
/PatrolPath.cs.meta
/Spawner.cs
/Spawner.cs.meta
/Trigger.cs.meta